<!DOCTYPE html>
<%# DUL CUSTOMIZATION: copy of Blacklight layout in order to add    -%>
<%# regions / partials, e.g., for Analytics, OpenGraph, and custom  -%>
<%# modals. Also fixes some HTML validation errors in the core file -%>
<%# https://github.com/projectblacklight/blacklight/blob/v7.2.0/app/views/layouts/blacklight/base.html.erb -%>
<%# Last checked for updates: ArcLight v0.3.2 / Blacklight 7.2.0 -%>

<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>

    <%# DUL CUSTOMIZATION: add custom favicon tags %>
    <%# see https://tinyurl.com/favicons-in-2021   %>

    <link rel="icon" href="<%= image_path('/favicon/favicon.ico') %>" sizes="any">
    <link rel="icon" href="<%= image_path('/favicon/favicon.svg') %>" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('/favicon/favicon-16x16.png') %>">
    <link rel="manifest" href="<%= image_path('/favicon/site.webmanifest') %>">
    <link rel="mask-icon" href="<%= image_path('/favicon/safari-pinned-tab.svg') %>" color="#053482">
    <meta name="msapplication-TileColor" content="#053482">
    <meta name="theme-color" content="#ffffff">

    <%# Needed to enable Google Search Console %>
    <meta name="google-site-verification" content="JuhY7qlmlvIHFXEt0p3Y0yjW617hqz125HaEzj0uWW0" />

    <%# DUL CUSTOMIZATION: Google Analytics head tags %>
    <% if DulArclight.google_analytics_tracking_id.present? %>
      <%= render partial: "shared/google_analytics_head", locals: {
        ga_tracking_id: DulArclight.google_analytics_tracking_id } %>
    <% end %>

    <%# DUL CUSTOMIZATION: Open Graph & Twitter card metadata %>
    <meta property="og:site_name" content="<%= t('dul_arclight.twitter_og.site_name') %>"/>
    <meta name="twitter:site" content="<%= t('dul_arclight.twitter_og.twitter_handle') %>"/>
    <meta name="twitter:card" content="summary" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= render_page_title %>"/>
    <%= content_for(:twitter_og_meta) %>

    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      //track sub domains
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      // accurately measure the time spent in the visit
      _paq.push(['enableHeartBeatTimer']);
      (function() {
        var u="//analytics-dev.lib.duke.edu/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        // site ID = 1 is the analytics dev home site, this is the most important variable. 
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        console.log('Matomo Tracking Initiated. Tracking data is currently being sent to:',u)
        console.log(d)
      })

      (); 
    </script>
    <!-- End Matomo Code -->

  </head>
  <body class="<%= render_body_class %>">
    <nav id="skip-link" role="navigation" aria-label="<%= t('blacklight.skip_links.label') %>">
      <%= link_to t('blacklight.skip_links.search_field'), '#search_field', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
      <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
      <%= content_for(:skip_links) %>
    </nav>
    <%= render partial: 'shared/header_navbar' %>

    <main id="main-container" class="<%= container_classes %>" role="main" aria-label="<%= t('blacklight.main.aria.main_container') %>">
      <%= content_for(:container_header) %>

      <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

      <div class="row">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>

    </main>

    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/modal' %>

    <%# DUL CUSTOMIZATION: Advanced Search modal %>
    <%# TODO: revisit in the future if we discover a workable way to just %>
    <%# use the existing Blacklight modal. Challenges encountered         %>
    <%# trying this: 1) the form contents need knowledge of the current   %>
    <%# document to know whether/which collection scope can be toggled;   %>
    <%# 2) the Blacklight modal does not seem to support Bootstrap's      %>
    <%# $(e.relatedTarget) for passing data-attribute values in; 3) AJAX  %>
    <%# loading the contents from a page at a route e.g., /advanced makes %>
    <%# it harder to use jQuery to modify the dropdown options. For now   %>
    <%# we will just output the markup in our own modal at the bottom of  %>
    <%# every page. %>

    <%= render 'catalog/search_form_advanced_modal.html.erb' %>

    <%# DUL CUSTOMIZATION: Google Analytics end-body tags %>
    <% if DulArclight.google_analytics_tracking_id.present? %>
      <%= render partial: "shared/google_analytics_body", locals: {
        ga_tracking_id: DulArclight.google_analytics_tracking_id } %>
    <% end %>

  </body>
</html>
